<h1>Sign-up</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@user) do |f| %>

        <%= f.label :name %>
        <%= f.text_field :name, class: 'form-control' %>

        <%= f.label :email %>
        <%= f.email_field :email, class: 'form-control' %>

        <%= f.label :password_digest %>
        <%= f.password_field :password_digest, class: 'form-control' %>

        <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation, class: 'form-control' %>

        <%= f.radio_button :group_type, "Charity", :checked => true %>
        <%= label :group_type, "Charity" %>
        <%= f.radio_button :group_type, "Business" %>
        <%= label :group_type, "Business" %>
        <%= f.radio_button :group_type, "Club" %>
        <%= label :group_type, "Club" %>
        <%= collection_select(:user, :group_id, Charity.all, :id, :name) %>
        <%= f.submit "Create my Account", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>